@model WebPortal.Models.SearchFiltersViewModel

<form asp-action="Search" method="post" asp-controller="CuttingDownSearch">
    <div class="row">
        <div class="col-md-6">
            <label for="SourceOfCuttingDown">Source of Cutting Down</label>
            <select id="SourceOfCuttingDown" name="SourceOfCuttingDown" class="form-control">
                <option value="">Please Select</option>
                @foreach (var source in Model?.Sources ?? Enumerable.Empty<SelectListItem>())
                {
                    <option value="@source.Value">@source.Text</option>
                }
            </select>
        </div>
        <div class="col-md-6">
            <label for="ProblemTypeKey">Problem Type</label>
            <select id="ProblemTypeKey" name="ProblemTypeKey" class="form-control">
                <option value="">Please Select</option>
                @foreach (var problemType in Model?.ProblemTypes ?? Enumerable.Empty<SelectListItem>())
                {
                    <option value="@problemType.Value">@problemType.Text</option>
                }
            </select>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-md-6">
            <label for="IsClosed">Status</label>
            <select id="IsClosed" name="IsClosed" class="form-control">
                <option value="">Please Select</option>
                <option value="true">Closed</option>
                <option value="false">Open</option>
            </select>
        </div>
        <div class="col-md-6">
            <label for="SearchCriteria">Search Criteria</label>
            <select id="SearchCriteria" name="SearchCriteria" class="form-control">
                <option value="">Please Select</option>
                @foreach (var criteria in Model?.SearchCriteriaList ?? Enumerable.Empty<SelectListItem>())
                {
                    <option value="@criteria.Value">@criteria.Text</option>
                }
            </select>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-md-12">
            <label for="SearchValue">Search Value</label>
            <input type="text" id="SearchValue" name="SearchValue" class="form-control" placeholder="Enter search value" />
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-md-12 text-center">
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </div>
</form>
